extends /layouts/layout

block content
    div(class='savingWrapper')
        div(class='savingInfoBar')
            div(class='primaryInfo')
                div(class='name') #{savingInfo.name}
                div(class='privateSign')
                span(class='involvedUsers')
                    if savingInfo.private
                        if savingInfo.involved.length !== 0
                            b #{ownerName},   
                            each user, index in savingInfo.involved

                                if index == 3 && savingInfo.involved.lenght > 3
                                    | and #{savingInfo.involved.length - 3} more users have access to this saving
                                    - break
                                else if index == savingInfo.involved.length - 1
                                    | #{user.name} have access to this saving
                                    - break
                                
                                |   #{user.name}, 
                        else 
                            | Only 
                            b You 
                            | can see this saving 
                    else 
                        | Everyone can see this saving

            div(class='dataInfo')
                div(class='date') #{savingInfo.stringCreateDate}
                    span(class='savingSize') #{(savingInfo.filesTotalSize / Math.pow(10, 6)).toFixed(2)} MB
        div(class='savingFiles')
            each file in savingInfo.files
                if file.isImage
                    a(class='fileLink stretched-link' download=`${file.docName}` href=`${file.docData}`)
                        img(class='previewImage' src=`${file.docData}`)
                        div(class='fileName') #{file.docName}
                        div(class='docSize') #{(file.docSize / Math.pow(10, 6)).toFixed(2)} MB
                else
                    a(class='fileLink stretched-link' download=`${file.docName}` href=`${file.docData}`)
                        div(class='fileName') #{file.docName}
                        div(class='docSize') #{(file.docSize / Math.pow(10, 6)).toFixed(2)} MB